{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hello my name is Ziyan, and I am a self-taught python developer. I love to make websites and applications
                on my free time. I am interested in learning and expanding my knowledge in machine learning and AI and
                other programming languages such as JAVA, C++, and much more. If you also love programming then contact
                me!</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}